button {
  background-color: #4CAF50;
  color: white;
  margin: 3px auto;
  border: none;
  cursor: pointer;
  
}

button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
  
}
label{
  cursor: default;
  font-family: italic;
}
input {
  vertical-align: middle;
  padding: 2px 2px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: antiquewhite;
}
.signupform{
  
}
.App {
  text-align: center;
  background: url("./Images/login.png");
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
